app.*/data/cache/*
app.*/data/html/*
app.*/data/logs/*
app.*/data/session/*
app.*/public/static
app.*/public/static_g
app.*/public/upload/*
app.*/vendor/ounun
app.*/vendor/cms.cc
app.*/vendor/ounun_example
app.*/vendor/*
app.*/environment.txt
app.*/.environment.ini
app.*/.environment.php
app.*/app/config2.php
app.*/app/config.prod.php

!.gitkeep
.settings
.idea
.svn
