.base-color-opacity-bg {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(17, 136, 96, .9)), to(rgba(17, 136, 96, .9)));
    background-image: -moz-linear-gradient(top, rgba(17, 136, 96, .9), rgba(17, 136, 96, .9));
    background-image: -ms-linear-gradient(top, rgba(17, 136, 96, .9), rgba(17, 136, 96, .9));
    background-image: linear-gradient(to bottom, rgba(17, 136, 96, .9), rgba(17, 136, 96, .9));
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6118860', endColorstr='#E6118860');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6118860', endColorstr='#E6118860')
}

.v2-link {
    width: 180px;
    height: 40px;
    position: relative;
    top: 10px;
    overflow: hidden;
    margin-left: 10px
}

.v2-link img {
    width: 180px;
    height: 40px;
    border: 0
}

.css_25330c25d_ce62 {
    height: 88px
}