.base-color-opacity-bg {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(17, 136, 96, .9)), to(rgba(17, 136, 96, .9)));
    background-image: -moz-linear-gradient(top, rgba(17, 136, 96, .9), rgba(17, 136, 96, .9));
    background-image: -ms-linear-gradient(top, rgba(17, 136, 96, .9), rgba(17, 136, 96, .9));
    background-image: linear-gradient(to bottom, rgba(17, 136, 96, .9), rgba(17, 136, 96, .9));
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6118860', endColorstr='#E6118860');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6118860', endColorstr='#E6118860')
}

.erji-v2-header {
    width: 100%;
    min-width: 1190px;
    position: relative;
    z-index: 50;
    font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", STHeiti, SimSun, helvetica, arial, sans-serif
}

.erji-v2-header .nav-container {
    overflow: hidden;
    height: 40px
}

.erji-v2-header .header {
    width: 100%;
    height: 60px;
    background: #ffffff;
    border-bottom: 1px solid #F9F9F9
}

.erji-v2-header .nav, .erji-v2-header .nav-v2-fixed {
    height: 40px;
    background: #1b609b
}

.erji-v2-header .header-container, .erji-v2-header .nav-container {
    width: 1190px;
    margin: 0 auto
}

.erji-v2-header .v2-form, .erji-v2-header .v2-tools, .erji-v2-header .v2-tuig {
    float: right
}

.erji-v2-header .v2-logo, .erji-v2-header .v2-sitemap, .erji-v2-header .v2-link, .erji-v2-header .v2-nav {
    float: left
}

.v2-fixed .nav-v2-fixed {
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #0aa770;
    background: rgba(10, 167, 112, .9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e50aa770', endColorstr='#e50aa770');
    *background: #0aa770;
    z-index: 500
}

:root .v2-fixed .nav-v2-fixed {
    filter: none \9
}

.v2-fixed .nav-v2-fixed .v2-nav a, .v2-fixed .nav-v2-fixed .v2-nav li {
    height: 50px;
    line-height: 50px
}

.v2-fixed .nav-v2-fixed .sperate-line {
    margin-top: 17px
}

.v2-fixed .nav-v2-fixed .v2-tuig {
    height: 28px;
    line-height: 28px
}

.v2-fixed .nav-v2-fixed .v2-tuig ul {
    height: 26px
}

.v2-fixed .nav-v2-fixed .v2-tuig li {
    top: 50px
}

.erji-v2-header-gray {
    width: 100%;
    position: relative;
    z-index: 500
}

.erji-v2-header-gray .nav-container {
    height: 40px;
    overflow: hidden
}

.erji-v2-header-gray .header {
    width: 100%;
    height: 60px;
    background: #ededf0;
    border-bottom: 1px solid #e6e6e8
}

.erji-v2-header-gray .nav {
    background: #ededf0
}

.erji-v2-header-gray .nav-v2-fixed {
    height: 50px;
    background: #ededf0;
    background: rgba(237, 237, 240, .9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ededf0', endColorstr='#e5ededf0');
    *background: #ededf0
}

:root .erji-v2-header-gray .nav-v2-fixed {
    filter: none \9
}

.erji-v2-header-gray .header-container, .erji-v2-header-gray .nav-container {
    width: 1190px;
    margin: 0 auto
}

.erji-v2-header-gray .v2-form, .erji-v2-header-gray .v2-tools, .erji-v2-header-gray .v2-tuig {
    float: right
}

.erji-v2-header-gray .v2-logo, .erji-v2-header-gray .v2-sitemap, .erji-v2-header-gray .v2-link, .erji-v2-header-gray .v2-nav {
    float: left
}

.erji-v2-header-gray .fixed-header {
    left: 0;
    top: 0;
    width: 100%;
    background: #ededf0;
    border-bottom: 1px solid #ededf0
}

.erji-v2-header-cj {
    width: 100%;
    position: relative;
    z-index: 50
}

.erji-v2-header-cj .header {
    width: 100%;
    height: 60px;
    background: #f44;
    border-bottom: 1px solid #ff3636
}

.erji-v2-header-cj .nav {
    background: #f44
}

.erji-v2-header-cj .nav-v2-fixed {
    width: 100%;
    height: 50px;
    background: #f44;
    background: rgba(255, 68, 68, .9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ff4444', endColorstr='#e5ff4444');
    *background: #f44
}

:root .erji-v2-header-cj .nav-v2-fixed {
    filter: none \9
}

.erji-v2-header-cj .nav-container {
    height: 40px;
    overflow: hidden
}

.erji-v2-header-cj .header-container, .erji-v2-header-cj .nav-container {
    width: 1190px;
    margin: 0 auto
}

.erji-v2-header-cj .v2-form, .erji-v2-header-cj .v2-tools, .erji-v2-header-cj .v2-tuig {
    float: right
}

.erji-v2-header-cj .v2-logo, .erji-v2-header-cj .v2-sitemap, .erji-v2-header-cj .v2-link, .erji-v2-header-cj .v2-nav {
    float: left
}

.w1235 {
    min-width: 1235px
}

.w1235 .header-container, .w1235 .nav-container {
    width: 1235px
}

.w1000 {
    min-width: 1000px
}

.w1000 .header-container, .w1000 .nav-container {
    width: 1000px
}

.w990 {
    min-width: 990px
}

.w990 .header-container, .w990 .nav-container {
    width: 990px
}

.w960 {
    min-width: 960px
}

.w960 .header-container, .w960 .nav-container {
    width: 960px
}

.w960 .v2-tools .login, .w960 .v2-tools .browser, .w960 .v2-tools .qrcode, .w960 .v2-tools .home {
    margin-right: 7px
}

.w1000 .v2-form, .w990 .v2-form, .w960 .v2-form {
    width: 230px
}

.w1000 .v2-form .search-form .text, .w990 .v2-form .search-form .text, .w960 .v2-form .search-form .text {
    width: 130px
}

.w1000 .v2-form .search-form .search-word, .w990 .v2-form .search-form .search-word, .w960 .v2-form .search-form .search-word {
    width: 150px
}

.css_6f5f792e4_a316 {
    height: 88px
}