.base-color-opacity-bg {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(17, 136, 96, .9)), to(rgba(17, 136, 96, .9)));
    background-image: -moz-linear-gradient(top, rgba(17, 136, 96, .9), rgba(17, 136, 96, .9));
    background-image: -ms-linear-gradient(top, rgba(17, 136, 96, .9), rgba(17, 136, 96, .9));
    background-image: linear-gradient(to bottom, rgba(17, 136, 96, .9), rgba(17, 136, 96, .9));
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6118860', endColorstr='#E6118860');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6118860', endColorstr='#E6118860')
}

.v2-logo {
    overflow: hidden;
    height: 60px;
    padding: 0
}

.v2-logo .hao123 {
    float: left;
    width: 219px;
    height: 60px;
    background: url(../klzbw_logo_60.png);
    text-indent: -9999em
}

.v2-logo .channel {
    float: left;
    height: 26px;
    line-height: 26px;
    margin-top: 5px;
    margin-left: 3px;
    font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", STHeiti, SimSun, helvetica, arial, sans-serif;
    font-size: 26px;
    color: #fff;
    font-weight: 700
}

.v2-logo .dot {
    float: left;
    font-style: normal;
    font-size: 12px;
    line-height: 22px;
    padding-top: 10px;
    margin: 0 3px;
    color: #fff;
    font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", STHeiti, SimSun, helvetica, arial, sans-serif
}

.v2-logo .shouye {
    height: 32px;
    line-height: 32px;
    margin-top: 3px;
    float: left;
    color: #fff;
    font-size: 22px;
    font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", STHeiti, SimSun, helvetica, arial, sans-serif
}

.gray-v2-logo .hao123 {
    background: url(../img/hao-logo-color.19e26e257.png);
}

.gray-v2-logo .channel {
    color: #555
}

.css_150bc250e_f07f {
    height: 88px
}