.base-color-opacity-bg {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(17, 136, 96, .9)), to(rgba(17, 136, 96, .9)));
    background-image: -moz-linear-gradient(top, rgba(17, 136, 96, .9), rgba(17, 136, 96, .9));
    background-image: -ms-linear-gradient(top, rgba(17, 136, 96, .9), rgba(17, 136, 96, .9));
    background-image: linear-gradient(to bottom, rgba(17, 136, 96, .9), rgba(17, 136, 96, .9));
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6118860', endColorstr='#E6118860');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6118860', endColorstr='#E6118860')
}

.v2-nav ul, .v2-nav li {
    float: left
}

.v2-nav li a {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    color: #fff;
    font-size: 16px;
    font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", STHeiti, SimSun, helvetica, arial, sans-serif
}

.v2-nav li a:hover {
    color: #fff;
    background-color: #279bc6;
    text-decoration: none
}

.v2-nav .cur {
    background-color: #143e82
}

.v2-nav .cur a {
    cursor: default
}

.v2-nav .cur a:hover {
    background-color: #279bc6
}

.v2-nav .sperate-line {
    width: 0;
    border-left: 1px dotted #fff;
    height: 16px;
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    _display: inline
}

.v2-nav .nav-more {
    float: left;
    position: relative
}

.v2-nav .nav-more a {
    float: left;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 18px;
    color: #fff;
    font-size: 16px;
    font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", STHeiti, SimSun, helvetica, arial, sans-serif;
    white-space: nowrap
}

.v2-nav .nav-more .icon-triangle {
    position: absolute;
    height: 0;
    line-height: 0;
    top: 18px;
    right: 10px;
    border: 3px solid transparent;
    _border: 3px solid #0aa770;
    border-top-color: #fff;
    -webkit-transition: transform .2s linear;
    -moz-transition: transform .2s linear;
    -o-transition: transform .2s linear;
    -ms-transition: transform .2s linear;
    transition: transform .2s linear;
    -webkit-transform-origin: 3px 2px;
    -moz-transform-origin: 3px 2px;
    -o-transform-origin: 3px 2px;
    -ms-transform-origin: 3px 2px;
    transform-origin: 3px 2px
}

.v2-nav .nav-more .popup-more {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 40px;
    background-color: #118860;
    background-color: rgba(17, 136, 96, .9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5118860', endColorstr='#e5118860');
    *background-color: #118860
}

:root .v2-nav .nav-more .popup-more {
    filter: none \9
}

.v2-nav .nav-more .popup-more a {
    height: 30px;
    line-height: 30px;
    float: none;
    display: block;
    text-align: center;
    padding: 5px 18px 5px 10px
}

.v2-nav .nav-more .popup-more a:hover {
    background: #00b777;
    text-decoration: none
}

.v2-nav .nav-more-hover .more {
    background: #118860
}

.v2-nav .nav-more-hover .icon-triangle {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.v2-nav .nav-more-hover .popup-more {
    display: block
}

.gray-v2-nav li a {
    color: #555
}

.gray-v2-nav li a:hover {
    color: #555;
    background-color: #e3e3e6
}

.gray-v2-nav .cur {
    background-color: #bbbbbd
}

.gray-v2-nav .cur a:hover {
    background-color: #bbbbbd
}

.gray-v2-nav .sperate-line {
    border-left: 1px dotted #555
}

.gray-v2-nav .nav-more a {
    color: #555
}

.gray-v2-nav .nav-more .icon-triangle {
    _border: 3px solid #ededf0;
    border-top-color: #555
}

.gray-v2-nav .nav-more .popup-more {
    background-color: #bbbbbd;
    *background-color: #bbbbbd
}

.gray-v2-nav .nav-more .popup-more a:hover {
    background: #e3e3e6
}

.gray-v2-nav .nav-more-hover .more {
    background: #bbbbbd
}

.gray-v2-nav .nav-more-hover .icon-triangle {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.cj-v2-nav li a {
    color: #fff
}

.cj-v2-nav li a:hover {
    color: #fff;
    background-color: #ff5b5b
}

.cj-v2-nav .cur {
    background-color: #e33
}

.cj-v2-nav .cur a:hover {
    background-color: #e33
}

.cj-v2-nav .sperate-line {
    border-left: 1px dotted #fff
}

.cj-v2-nav .nav-more a {
    color: #fff
}

.cj-v2-nav .nav-more .icon-triangle {
    _border: 3px solid #f44;
    border-top-color: #fff
}

.cj-v2-nav .nav-more .popup-more {
    background-color: #e33;
    background-color: rgba(238, 51, 51, .9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ee3333', endColorstr='#e5ee3333');
    *background-color: #e33
}

:root .cj-v2-nav .nav-more .popup-more {
    filter: none \9
}

.cj-v2-nav .nav-more .popup-more a:hover {
    background: #ff5b5b
}

.cj-v2-nav .nav-more-hover .more {
    background: #e33
}

.cj-v2-nav .nav-more-hover .icon-triangle {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.css_41fd31f14_8719 {
    height: 88px
}